<div class="flex justify-center flex-wrap text-gray-600">
  <h2 class="text-denim-900 font-bold text-xl md:text-2xl lg:text-3xl mb-4 w-full text-center">Log In</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
    <div class="field mb-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-denim-100/50 border-2 border-denim-500 rounded shadow" %>
    </div>

    <div class="field mb-2">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions my-4 text-center">
      <%= f.submit "Log in", class: "bg-denim-800 text-white px-4 py-2 hover:bg-denim-700 cursor-pointer" %>
    </div>
  <% end %>

  <div class="w-full text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>