<!DOCTYPE html>
<html>
  <head>
    <title>Campy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="">
      <div class="bg-gray-100 w-full">
        <%= link_to tasks_path do %>
          <h1 class="text-2xl xl:text-4xl p-4 mb-4 font-bold text-denim-900">Campy</h1>
        <% end %>
      </div>

      <% if notice.present? %>
        <p class="text-center flex py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg justify-center" id="notice">
          <%= notice %>
        </p>
      <% end %>

      <div class="p-4">
        <%= render 'shared/toast' %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
