<!DOCTYPE html>
<html>
  <head>
    <title>Campy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="">
      <div class="flex justify-around bg-gray-100 w-full shadow-md items-center mb-4">
        <div>
        <%= link_to tasks_path do %>
          <h1 class="text-2xl xl:text-4xl p-4 font-bold text-denim-900">campy <i class="fa-solid fa-campground"></i></h1>
        <% end %>
        </div>
        <div class="mx-8 font-bold text-denim-900">
          <%= link_to "tasks", tasks_path, class: "mx-2 hover:border-b-4 hover:border-denim-800 hover:text-denim-800" %>
          <%= link_to "projects", projects_path, class: "mx-2 hover:border-b-4 hover:border-denim-800 hover:text-denim-800" %>
        </div>
      </div>

      <%= render partial: "shared/flash" %>

      <div class="p-4">
        <%= render 'shared/toast' %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
